# Ignore local secrets and keys
*.key
*.gpg
.env
secrets.*

# OS files
.DS_Store
thumbs.db

# Editor backups
*~
.vscode/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv/
ENV/
env/
.venv
